/* nav{
    width: 100%;
    padding: 0.7rem 0;
    top: 0;
    z-index: 10;
}

nav .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.header-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 60px;
    margin-top: 1.5rem;
}

.search{
    background: var(--clr-white);
    padding: 0.6rem 1rem;
    width: 182px;
    height: 36px;
    border: 2px solid #DFE1E6;
    margin-left: 1rem;
    border-radius: 17px;
}

.create-home{
    display: flex;
    align-items: center;
    border-radius: 100%;
    width: 34px;
    height: 34px; 
    border: none;
    cursor: pointer;
    background: white;
}