.post-box{
    display: flex;
    flex-wrap: wrap;
    width: 409px;
    height: 379px;
    background: white;
    padding-top: 7.5px;
    padding-left: 8.27px;
    border-bottom: 1.18208px solid rgba(137, 136, 136, 0.5);
    margin: 11px auto;
}
.user-box{
    width: 395.04px;
    height: 43.74px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 120px; */
}

.info{
    display: flex;
    flex-direction: row;
    gap: 13px;
    order: 0;
    flex-grow: 0;
    /* width: 236.74px; */
    width: 357.74px;
    height: 43.74px;
}
.profile-postbox{
    width: 43.74px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
.profile-postbox img{ 
    display: block;
    width: 100%;
    /* height: -webkit-fill-available;  */
}
.auto-layout{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
}
.username-post{
    font-weight: 900;
    font-size: 14.0297px;
}

.date-post{
    font-size: 9.45665px;
    color: var(--clr-postgray);
}

.btn-post{
    background-color: white;
    border: none;
    cursor: pointer;
    align-items: center;
    font-size: 30px;
}

.options-post{
    width: 37.83px;
    text-align: center;
    padding-bottom: 19px;
}

.card{
    width: 356.45px;
    height: 315.17px;
    background: rgb(138, 36, 138);
    border-radius: 53.1936px 11px 53.1936px 0px;
    display: flex;
    flex-direction: column-reverse;
}
.photo-post{
    width: 356.45px;
    height: 315.17px; 
    aspect-ratio: 1/1;
    border-radius: 53.1936px 11px 53.1936px 0px;
    overflow: hidden;
}

.card img{ 
    display: block;
    width: 100%;
}

.description-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    padding: 18px 31px 24px 16px;
    gap: 10px;
    width: 356.45px;
    height: 96px;
    border-radius: 0px 0px 53.1936px 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(3, 0, 33, 0) 0.01%, rgba(3, 0, 33, 0.85) 100%);
}
.pp{
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.interaction-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    gap: 46px;
    
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 3px;
}

.item img{
    max-width: 20.75px;
}

.item p{
    font-style: normal;
    font-weight: 500;
    font-size: 11.9919px;
    color: var(--clr-postgray);
}
