@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
@import './css/login-signup.css';
@import './css/create-post.css';
@import './css/home.css';
@import './css/nav.css';
@import './css/post-card.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr-input:#EBE6F5;
    --clr-btn:#8075FF;
    --clr-facebook:#2463B6;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;
    --clr-violet: #5B30D3;
    --clr-postgray: #687684;
}



